[submodule "vendor/raylib-cpp"]
	path = vendor/raylib-cpp
	url = https://github.com/robloach/raylib-cpp
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/threadpool"]
	path = vendor/threadpool
	url = https://github.com/progschj/ThreadPool.git
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui
